# Maven
/migrerings-projekt/target

# Node
/migrerings-projekt/frontend/node_modules
/migrerings-projekt/frontend/dist
/migrerings-projekt/frontend/node

# ASP.NET / Visual Studio
/legacy-tilskud-dotnet/.vs
/legacy-tilskud-dotnet/bin
/legacy-tilskud-dotnet/obj
*.csproj.user

# IDEs and editors
/.idea
*.iml
/.vscode

# OS files
.DS_Store
