<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SystemName" value="Tilskud Legacy" />
    <add key="AllowedGrantStatuses" value="KLADDE,INDSENDT,UNDER_BEHANDLING,GODKENDT,AFVIST" />
    <add key="MinimumGrantAmount" value="1000" />
    <add key="MaximumGrantAmount" value="500000" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="TilskudDb"
         connectionString="Data Source=localhost,14333;Initial Catalog=LegacyTilskudWorkshop;User ID=sa;Password=Tilskud_2026!;MultipleActiveResultSets=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" requestValidationMode="4.5" />
    <sessionState mode="InProc" timeout="60" />
    <globalization culture="da-DK" uiCulture="da-DK" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
